.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
}

.header__logo__icon {
  width: 42px;
  height: 42px;
  fill: #ffffff;
}

.header__logo_text {
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto", sans-serif;
  font-size: 20.841px;
  font-style: normal;
  font-weight: 900;
  line-height: 80.5%; /* 16.777px */
  letter-spacing: 0.274px;
  text-transform: uppercase;
  width: 111px;

  background: linear-gradient(180deg, #fff 70%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__menu {
  display: none;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__search__icon {
  width: 24px;
  height: 24px;
  margin-right: 30px;
  fill: #ffffff;
}

.header__burger__icon {
  width: 35px;
  height: 35px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .header__desktop {
    display: flex;
    align-items: flex-end;
  }

  .header__logo {
    margin-right: 80px;
  }

  .nav__menu {
    display: block;
    width: 572px;
  }

  .nav__menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  // .nav__menu__item {
  // }

  // .nav__menu__link {
  // }
}
